@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

body{
    background-color: #141414;
    overflow-x: hidden;
}

.container{
    width: 100%;
    padding: 0 53px;
}